%h1 Listing gas_bills

%table
  %tr
    %th Start date
    %th End date
    %th Gas start reading
    %th Gas end reading
    %th Net cost
    %th Gross cost
    %th Active
    %th Users
    %th
    %th
    %th

  - @gas_bills.each do |gas_bill|
    %tr
      %td= gas_bill.start_date
      %td= gas_bill.end_date
      %td= gas_bill.gas_start_reading
      %td= gas_bill.gas_end_reading
      %td= gas_bill.net_cost
      %td= gas_bill.gross_cost
      %td= gas_bill.active
      %td= gas_bill.users
      %td= link_to 'Show', gas_bill
      %td= link_to 'Edit', edit_gas_bill_path(gas_bill)
      %td= link_to 'Destroy', gas_bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gas bill', new_gas_bill_path
