= form_for @oil_bill do |f|
  - if @oil_bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oil_bill.errors.count, "error")} prohibited this oil_bill from being saved:"
      %ul
        - @oil_bill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :end_date
    = f.datetime_select :end_date
  .field
    = f.label :volume
    = f.text_field :volume
  .field
    = f.label :net_cost
    = f.text_field :net_cost
  .field
    = f.label :gross_cost
    = f.text_field :gross_cost
  .field
    = f.label :users
    = f.text_field :users
  .actions
    = f.submit 'Save'
