- if user_signed_in?
  %li
    = link_to "My Account"
  %li
    = link_to "Oil Bills", oil_bills_path, :method => :get
  %li
    = link_to "Electricity Bills", electricity_bills_path, :method => :get
  %li
    = link_to "Gas Bills", gas_bills_path, :method => :get
  %li
    = link_to "Sign Out", destroy_user_session_path, :method => :delete
- else
  %li
    = link_to "Sign In", new_user_session_path, :method => :get
  %li
    = link_to "Sign up", new_user_registration_path, :method => :get
  